{% extends "layout.html" %}

{% block body %}
{% if session.username %}
<form action="{{ url_for('add') }}" method=post class=add-entry>
    <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
    </dl>
</form>
{% endif %}
<ul class=entries>
    {% for entry in entries %}
    <li><h2> {% if session.username %} {{ session.username }} {% else %} 游客 {% endif %} 对：{{ entry.title }}  评论：</h2>{{ entry.text|safe }}
        {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
        {% endfor %}
</ul>
{% endblock %}